* {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

li {
  margin: 1rem auto;
}

.product-grid-item {
  border: 1px solid black;
  padding: 1rem;
  width: 40%;
  border-radius: 10px;
}
